:root {
  --primary-color: rgba(0, 146, 71, 1);
  --secondary-color: #1f263e;
}
.cursor-pointer {
  cursor: pointer;
}
.form-control:focus {
  border-color: var(--primary-color) !important;
  box-shadow: 0 0 0 0.25rem rgba(47, 140, 96, 0.25) !important;
}

.input-group-text:focus-within {
  border-color: var(--primary-color) !important;
}
.login-btn {
  background-color: var(--primary-color);
  color: white;
}
.login-btn:hover {
  background-color: rgba(63, 138, 76, 1);
  color: white;
}
.bg-main {
  background-image: url("./../src/assets/images/bg.svg");
  background-color: var(--primary-color);
}
.sidebar-container .ps-sidebar-container,
.sidebar-container .ps-sidebar-root {
  background-color: rgba(31, 38, 62, 1);
  color: white;
  min-height: 105vh;
  height: auto;
  border-top-right-radius: 45px;
}

.sidebar-container .ps-menu-button:hover {
  background-color: rgba(0, 146, 71, 0.1) !important;
  border-left: solid 4px #2f8c60;
}
.bg-light-green {
  background-color: rgba(240, 255, 239, 1);
}
